services:
  database:
    image: "postgres:15.2"
    ports:
      - "5432"
    environment:
      - "POSTGRES_USER=postgres"
      - "POSTGRES_DB=movies-api"
      - "POSTGRES_PASSWORD=postgrespw"
  redis:
    image: "redis"
    ports:
      - "6379:6379"
